p{
    padding: var(--small-padding);
}

hr{
	margin-block: var(--medium-padding) var(--small-padding);
	width: 10vw;
	border: 4px solid var(--accent-1);
	border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar{
    border-radius: .3rem;
    height: .5rem;
    margin: 1rem;
}

::-webkit-scrollbar-track{
    border-radius: 1rem;
    /* color: var(--on-dark-bg); */
    box-shadow: inset 0 0 .8rem .8rem var(--primary);
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    box-shadow: inset 0 0 .8rem .8rem var(--accent-2);
    border: solid .15rem transparent;
}
#nav{
    color: var(--primary);
	height: 5rem;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-inline: var(--small-padding);
}

#nav h1{
	align-self: center;
}

#nav img{
	object-fit: contain;
	height: 100%;
	padding: var(--small-padding);
}

#nav ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	align-self: center;
}

#nav ul li{
	align-self: center;
}

#nav ul li a{
	text-decoration: none;
}

.material-symbols-outlined{
	font-variation-settings:
	'FILL' 0,
	'wght' 600,
	'GRAD' 0,
	'opsz' 48;

	vertical-align: middle;
	font-size: 1em;
	padding: 0 .2rem;
}

:is(h1,h2,h3,p,a).title {
    text-decoration: none;
    font-weight: bolder;
    font-size: var(--xx-large-font);
}

.subtitle {
	padding: 0;
    font-weight: bold;
    font-size: var(--large-font);
}

.sub.subtitle {
    font-size: var(--medium-font);
}

.title.centered, .subtitle.centered {
    text-align: center;
}

.button {
    z-index: 1;
	padding: .3rem .5rem;
	margin:  var(--small-padding);
    border-radius: .2rem;
    background: var(--primary);
    outline: transparent;
	display: flex;
    align-items: center;
}

.button.outline{
	background: transparent;
}

.button.outline *{
	color: var(--primary);
}

.button *{
	color: var(--on-primary);
}

.button:hover {
	background: var(--primary-3)
}

.button:focus{
	outline: var(--primary) 2px solid;
	outline-offset: calc(var(--small-padding) / 2);
}

.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.container.row {
    flex-direction: row;
}

.list {
    margin: 1rem;
    padding-left: 1rem;
}

img.main {
    width: 60%;
    margin: 1rem auto;
}