<nav id="nav">
    <img src="assets/Logo.png" alt="Kreastol Logo" />
    <h1 class="title">Kezdőlap</h1>

    <ul>
        <li>
            <a href="./index.html" class="nav button">
                <span class="material-symbols-outlined">home</span>
                <span class="link-text">Kezdőlap</span>
            </a>
        </li>
        <li>
            <a href="./news.html" class="nav button">
                <span class="material-symbols-outlined">feed</span>
                <span class="link-text">Hírek</span>
            </a>
        </li>
        <li>
            <a href="./about.html" class="nav button">
                <span class="material-symbols-outlined">info</span>
                <span class="link-text">Rólunk</span>
            </a>
        </li>
        <li>
            <a href="./contact.html" class="nav button">
                <span class="material-symbols-outlined">contact_support</span>
                <span class="link-text">Kapcsolat</span>
            </a>
        </li>
        <li>
            <a href="./aboutme.xhtml" class="nav button outline">
                <span class="material-symbols-outlined">person</span>
                <span class="link-text">Készítőről</span>
            </a>
        </li>
    </ul>
</nav>