<header id="navbar">
    <nav class="navbar-container">
        <a href="/" class="home-link">
            <img class="navbar-logo" src="assets/Logo.png" alt="Kreastol Logo" />
            <h1 class="title">Kezdőlap</h1>
        </a>
        <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu"
            aria-expanded="false" class="notprint">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar-menu" aria-labelledby="navbar-toggle" class="notprint">
            <ul class="navbar-links">
                <li class="navbar-item">
                    <a class="navbar-link" href="./index.html">
                        <span class="material-symbols-outlined">home</span>
                        <span class="link-text">Kezdőlap</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="./news.html">
                        <span class="material-symbols-outlined">feed</span>
                        <span class="link-text">Hírek</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="./about.html">
                        <span class="material-symbols-outlined">info</span>
                        <span class="link-text">Rólunk</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="./contact.html">
                        <span class="material-symbols-outlined">contact_support</span>
                        <span class="link-text">Kapcsolat</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="./profile.xhtml">
                        <span class="material-symbols-outlined">person</span>
                        <span class="link-text">Profilom</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- <nav id="nav">
    <img src="assets/Logo.png" alt="Kreastol Logo" />
    <h1 class="title">Kezdőlap</h1>

    <ul>
        <li>
            <a href="./index.html" class="nav button">
                <span class="material-symbols-outlined">home</span>
                <span class="link-text">Kezdőlap</span>
            </a>
        </li>
        <li>
            <a href="./news.html" class="nav button">
                <span class="material-symbols-outlined">feed</span>
                <span class="link-text">Hírek</span>
            </a>
        </li>
        <li>
            <a href="./about.html" class="nav button">
                <span class="material-symbols-outlined">info</span>
                <span class="link-text">Rólunk</span>
            </a>
        </li>
        <li>
            <a href="./contact.html" class="nav button">
                <span class="material-symbols-outlined">contact_support</span>
                <span class="link-text">Kapcsolat</span>
            </a>
        </li>
        <li>
            <a href="./profile.xhtml" class="nav button">
                <span class="material-symbols-outlined">person</span>
                <span class="link-text">Profilom</span>
            </a>
        </li>
    </ul>
</nav> -->