@import url('./defaults.css');
@import url('./base.css');


#comment {
	border-radius: var(--small-padding);
	padding: var(--small-padding);
	margin: var(--small-padding);
	width: 20rem;
	float: right;
	background-color: var(--primary-3);
}

#events img {
	filter: invert(1);
	margin-top: 3rem;
	float: left;
	width: 15rem;
	shape-outside: border-box;
}

.group.left{
	float: left;
}

video{
	margin: var(--medium-padding);
	margin-top: 3rem;
	shape-outside: border-box;
}

#workshops video {
	float: right;
	width: 30rem;
}


@media screen and (max-width: 700px) {

	img{
		width: 100%;
	}

	video{
		margin: 0;
		margin-top: 2rem;
		margin-bottom: 2rem;
		shape-outside: border-box;
	}
	
	#workshops video {
		float: unset;
		width: 100%;
	}
}