@import url('./icons.css');

:root {
  --primary-1: #e7a8f7;
  --primary-2: #da86f0;
  --primary-3: #ce66e8;
  --primary-4: #c248e0;
  --primary: #b62bd9;
  --primary-6: #9c1cbc;
  --primary-7: #83109f;
  --primary-8: #6a0783;
  --primary-9: #510066;

  --accent-1: #d97c2b;
  --accent-1-2: #8c5626;
  --accent-2: #68d92b;
  --accent-2-2: #4a8c26;

  --light-bg: #ebf0e9;

  --on-light-bg: #0f0f0f;
  --on-primary: var(--primary-1);

  --small-padding: 0.4rem;
  --medium-padding: 0.8rem;
  --large-padding: 1.2rem;

  --small-font: 0.8em;
  --normal-font: calc(.8rem + .4vw);;
  --large-font: 1.1em;
  --larger-font: 1.2em;
  --x-large-font: 1.4em;
  --xx-large-font: 1.6em;

  font-size: var(--normal-font);
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    var(--primary-1) 20%,
    var(--primary-2) 100%
  );
  background-repeat: no-repeat;
  color: var(--on-light-bg);
  /* font-size: var(--larger-font); */
}

.container {
  /* height: 100%; */
  display: flex;
  flex-flow: column;
  /* min-height: 100%;
  flex: 1 1 auto; */
}


.container{
  flex: 1;
}
 
@media only screen and (max-height: 700px) {
  .container{
    flex-flow: column;
  }
  .container > *{
    flex: 0 1 auto;
  }
  
}

/* @media only screen and (max-height: 800px) {
  body {
    font-size: var(--large-font);
  }
} */


