@import url("./defaults.css");
@import url("./base.css");

.events {
  cursor: grab;
  overflow: auto;
  padding: 0.4rem 0.2rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 31%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  box-sizing: border-box;
}

.event-list-item {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-color: var(--accent-2);
  /* Used if the image is unavailable */
  box-shadow: 6px 7px 6px #00000029;
  border-radius: 37px;

}

.event-list-item .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  display: block;
  background-image: url("../assets/Logo.png");
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -ms-filter: blur(2px);
  filter: blur(2px); */
}

.event-title {
  padding: 0.5rem 1rem;
  color: var(--accent-2-2);
  background-color: var(--accent-2);
  /* backdrop-filter: blur(40px); */
  width: auto;
  border-radius: 1rem;
  z-index: 5;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.2), -1px 1px rgba(0, 0, 0, 0.2),
    1px -1px rgba(0, 0, 0, 0.2), -1px -1px rgba(0, 0, 0, 0.2); */
}

.event-list-item .content {
  padding: 0.5rem 1rem;
  font-size: var(--large-font);
  display: block;
  border-radius: 0;
  color: var(--accent-2-2);
  background-color: var(--accent-2);
  z-index: 5;
  /* backdrop-filter: blur(40px); */
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.2), -1px 1px rgba(0, 0, 0, 0.2),
    1px -1px rgba(0, 0, 0, 0.2), -1px -1px rgba(0, 0, 0, 0.2); */
}

.event-list-item .link {
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding-block: 0;
  padding-left: 1rem;
  width: 100%;
  line-height: 1.4em;
  background: var(--primary);
}

.event-list-item .link a {
  z-index: 1;
  color: var(--primary-9);
  width: 100%;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
}

.event-thumbnail {
  position: absolute;
  background-size: contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--accent-2);
  z-index: 2;
  transition: left 1s ease-in-out;
}

.event-thumbnail .subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--accent-2);
  color: var(--accent-2-2);
}

.event-thumbnail img {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.event-list-item:hover .event-thumbnail,
.event-list-item:focus-within .event-thumbnail {
  left: 80%;
  background-blend-mode: normal;
}

.event-list-item .link a:focus {
  outline: var(--accent-2) 2px solid;
  outline-offset: calc(var(--small-padding) / 1.5);
  border-radius: 5px;
}

table{
  align-self: center;
  width: 30rem;
}
tr:nth-child(even) {
  background: var(--primary-2);
}

caption{
  caption-side: bottom;
}

.day{
  display: inline-block;
  min-width: 5rem;
}


@media only screen and (max-width: 700px) {
  .events {
    grid-auto-flow: row;
    grid-auto-columns: unset;
    grid-auto-rows: 55%;
    height: 60vh;
  }

  .event-list-item {
    height: 20rem;
  }

  .events {
    flex: 1 1 auto;
  }
}

@media only screen and (max-height: 800px) {
  .events {
    grid-auto-rows: 70%;
    /* height: 50vh; */
  }
}

@media only screen and (max-width: 400px) {
  table{
    width: 100%;
  }
  .events {
    grid-auto-rows: 80%;
    height: 45vh;
  }

  .event-list-item {
    height: 18rem;
  }
}