@import url('./defaults.css');
@import url('./base.css');

.container ul{
    list-style: none;
}

.news .title{
    display: block;
}

.news .title h2{
    display: inline;
    padding: var(--small-padding);
}

.news hr{
    width: 20vw;
}