<nav>
    <img src="../img/Logo.png" alt="Kreastol Logo" >
    <h1 class="nav">Kezdőlap</h1>

    <a href="#" class="nav button">
        <img src="" alt="" class="icon"><span class="link-text">Link</span>
    </a>
    <a href="#" class="nav button">
        <img src="" alt="" class="icon"><span class="link-text">Link</span>
    </a>
    <a href="#" class="nav button">
        <img src="" alt="" class="icon"><span class="link-text">Link</span>
    </a>
    <a href="#" class="nav button">
        <img src="" alt="" class="icon"><span class="link-text">Link</span>
    </a>
    <a href="#" class="nav button">
        <img src="" alt="" class="icon"><span class="link-text">Link</span>
    </a>
</nav>